.oppdragslinjedetaljer {
  margin: 0.75rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.oppdragslinjedetaljer-top {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  min-width: 1048px;
  margin: auto;
}

.oppdragslinjedetaljer-toppinfo {
  position: relative;
  background-color: var(--a-surface-default);
  padding: 1.5rem;
}
