:root {
  --table-min-width: 1440px;
}

.page-container {
  display: flex;
  flex-direction: column;
  margin: 0.75rem auto;
  gap: 1rem;
  max-width: 1600px;
}

.page-container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  width: 100%;
  gap: 1.25rem;
}

.page-container__header-info {
  border-radius: 8px;
  background-color: var(--a-surface-default);
  padding: 1.5rem;
  width: 100%;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-top: 1rem;
  justify-content: space-between;
}

.button-row--left {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.button-row--right {
  display: flex;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.flex--row-gap-sm {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.table {
  background-color: var(--a-surface-default);
  min-width: var(--table-min-width);
  border-radius: 0.5rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.table__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.panel__content {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.panel__column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.text--bold {
  font-weight: bold;
}

.text--nowrap {
  white-space: nowrap;
}

.text--center {
  text-align: center;
}

.page__heading {
  white-space: nowrap;
  text-align: center;
}
