:root {
	--table-min-width: 1280px;
	--page-max-width: 1600px;
}

.page {
	display: flex;
	flex-direction: column;
	margin: 0.75rem auto;
	gap: 1rem;
	width: 100%;
	min-width: fit-content;
	max-width: var(--page-max-width);
}

.page__top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
	width: 100%;
	min-width: 500px;
}

.page__top-sokekriterier {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 0.75rem;
	background-color: white;
	padding: 1.25rem;
	box-sizing: border-box;
}

.page__top-sokekriterier__content {
	display: flex;
	flex-flow: row wrap;
	gap: 2.5rem;
	padding-top: 1rem;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.status--danger {
	color: var(--a-nav-red);
}

.table {
	min-width: var(--table-min-width);
	border-radius: 0.5rem;
	background-color: var(--a-white);
}

.table-container {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.table__pagination {
	display: flex;
	flex-direction: row;
	place-content: center;
	margin-top: 1rem;
}

.flex--row-gap-sm {
	display: flex;
	gap: 0.25rem;
}

.text--bold {
	font-weight: bold;
}

.text--nowrap {
	white-space: nowrap;
}
