.knapperad {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.buttonrowLeft {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: flex-start;
}

.container {
  margin: 0.75rem auto;
  min-width: 1024px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  margin-left: 6rem;
  margin-right: 6rem;
  min-width: 1024px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.headerInfo {
  position: relative;
  min-width: 1024px;
  border-radius: 8px;
  background-color: var(--a-surface-default);
  padding: 1.5rem;
}

.headerInfoColumn {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.bold {
  white-space: nowrap;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.singlerow {
  display: flex;
  flex-direction: row;
}

.spacing {
  height: 4rem;
}

.contentloader {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.pageheading {
  white-space: nowrap;
  text-align: center;
}

.sortable-table {
  min-width: 1400px;
  background-color: var(--a-surface-default);
}

.sortable-table-topinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sortable-table-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftandrightbuttons {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  padding-top: 1rem;
  justify-content: space-between;
}
