.breadcrumbs {
  @apply relative h-16 max-w-[1440px] rounded-lg bg-[--a-surface-alt-1-subtle];
}

.breadcrumbs a {
  @apply text-[--a-text-action-on-action-subtle];
}

.breadcrumbs-contents {
  @apply flex min-w-56 flex-row;
}

.breadcrumbs-left {
  @apply absolute left-5 top-5;
}

.breadcrumbs-right {
  @apply absolute right-5 top-5;
}

.breadcrumbs-crumb {
  @apply ml-1;
}
