.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--a-surface-alt-1-subtle);
}

.breadcrumbs a {
  color: var(--a-text-action);
}

.breadcrumbs__contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.breadcrumbs__left {
  padding-left: 1.25rem;
}

.breadcrumbs__crumb {
  display: flex;
  align-items: center;
}

.breadcrumbs__right {
  padding-right: 1.25rem;
}
