.breadcrumbs {
  position: relative;
  height: 4rem;
  min-width: 1024px;
  max-width: 1440px;
  border-radius: 0.5rem;
  background-color: var(--a-surface-alt-1-subtle);
}

.breadcrumbs a {
  color: var(--a-text-action-on-action-subtle);
}

.breadcrumbs-contents {
  display: flex;
  min-width: 14rem;
  flex-direction: row;
}

.breadcrumbs-left {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
}

.breadcrumbs-right {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.breadcrumbs-crumb {
  margin-left: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
