.oppdrag-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
}

.oppdrag-panel__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}
