.oppdrag-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--ax-space-40);
}

.oppdrag-panel__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--ax-space-12);
}
