.reload {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: var(--ax-space-12);
	flex-wrap: wrap;
}

.reload__status {
	color: var(--ax-text-neutral-subtle);
}

.reload__ikon--success {
	color: var(--ax-text-success);
}

.reload__ikon--error {
	color: var(--ax-text-danger);
}
