.oppdragslinjer {
  margin: 0.75rem auto;
  min-width: 1024px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.oppdragslinjer-top {
  margin-left: 6rem;
  margin-right: 6rem;
  min-width: 1024px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.oppdragslinjer-toppinfo {
  position: relative;
  min-width: 1024px;
  border-radius: 8px;
  background-color: var(--a-surface-default);
  padding: 1.5rem;
}

.oppdragslinjer-panel {
  display: flex;
  width: 91.67%;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5rem;
}

.oppdragslinjer-column {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
