.sok {
	max-width: 1024px;
	width: 100%;
	margin: var(--ax-space-12) auto;
}

.sok__box {
	padding: var(--ax-space-24);
	position: relative;
	border-radius: 0.5rem;
	background-color: var(--ax-bg-meta-purple-moderateA);
}

.sok__error {
	padding-top: var(--ax-space-20);
}
