.sok__form-container {
	position: relative;
}

.sok__help {
	position: absolute;
	right: 0;
	top: 0;
}

.sok__form {
	padding-top: var(--ax-space-32);
}

.sok__input-fields {
	display: flex;
	flex-direction: column;
	gap: var(--ax-space-16);
}

.sok__gjelder {
	max-width: 160px;
	width: 100%;
}

.sok__faggruppe {
	width: 100%;
	max-width: 420px;
}

.sok__buttons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: end;
	gap: var(--ax-space-32);
	margin-top: var(--ax-space-24);
}

@media (width <= 768px) {
	.sok__faggruppe {
		max-width: 320px;
	}
}
