.sok {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 780px;
  max-width: 1440px;
  border-radius: 8px;
  background-color: var(--a-surface-alt-1-subtle);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.sok-heading {
  white-space: nowrap;
}

.sok-inputfields {
  width: 9rem;
  display: flex;
  flex-direction: column;
}

.sok-knapperad {
  display: flex;
  min-width: 16rem;
  flex-direction: row-reverse;
}

.sok-buttonwrapper {
  padding-left: 1.75rem;
}

.sok-help {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.sok-feil {
  padding-top: 1.25rem;
}

.sok-error-message-nowrap {
  position: absolute;
  left: 0.5rem;
  margin-left: 1.75rem;
  white-space: nowrap;
}

.combobox {
  position: relative;
  min-width: 32rem;
}

.combobox-clearbutton {
  position: absolute;
  right: 2.25rem;
  top: 2.5rem;
}
