.search {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-width: 780px;
  max-width: 1440px;
  border-radius: 8px;
  background-color: var(--a-surface-alt-1-subtle);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.search__heading {
  white-space: nowrap;
}

.search__input-fields {
  width: 9rem;
  display: flex;
  flex-direction: column;
}

.search__button-row {
  display: flex;
  min-width: 16rem;
  flex-direction: row-reverse;
}

.search__button-wrapper {
  padding-left: 1.75rem;
}

.search__help {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.search__error {
  padding-top: 1.25rem;
}

.search__error-message--nowrap {
  position: absolute;
  left: 0.5rem;
  margin-left: 1.75rem;
  white-space: nowrap;
}

.search__combobox {
  position: relative;
  min-width: 32rem;
}

.search__combobox-clear-button {
  position: absolute;
  right: 2.25rem;
  top: 2.5rem;
}
