@import url("@navikt/ds-css");
@import url("./design-system-override.css");

html,
body {
	height: 100%;
}

body {
	background-color: var(--a-gray-100);
}

.page-container {
	height: auto;
	min-height: 100%;
	margin: 5px;
}

.page-container__layout {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {
	width: 100%;
}
