name: Deploy application

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "LICENCE"
      - "CODEOWNERS"
      - ".gitignore"
      - ".github/workflows/build-pr.yaml"
      - ".github/workflows/chainguard-digestabot.yaml"
      - ".github/workflows/codeql-trivy-scan.yaml"
      - ".github/workflows/dependabot-automerge.yaml"
      - ".github/workflows/manual-deploy.yaml"
      - ".github/dependabot.yaml"

env:
  TZ: Europe/Oslo

jobs:
  build-push-image:
    permissions:
      contents: read
      id-token: write
    name: Build application & build/push image
    uses: navikt/mob-gha-workflows/.github/workflows/node-build-push-image.yaml@main
    secrets: inherit

  deploy-dev:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [build-push-image]
    name: Deploy to dev-gcp
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: dev-gcp
      resource: .nais/naiserator-dev.yaml
      image: ${{ needs.build-push-image.outputs.image }}

  deploy-prod:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [build-push-image, deploy-dev]
    name: Deploy to prod-gcp
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: prod-gcp
      resource: .nais/naiserator-prod.yaml
      image: ${{ needs.build-push-image.outputs.image }}
